[Unit]
Description=MS365 Geo Alert Monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/ms365_geo_alert/ms365_geo_alert.py
Restart=always
RestartSec=1h
User=your-user
Group=your-group
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/opt/ms365_geo_alert/
StandardOutput=journal
StandardError=journal
EnvironmentFile=/etc/ms365_geo_alert.env

[Install]
WantedBy=multi-user.target
